<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ajouter un Film</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>


<body>
<!-- Inclusion de la navbar -->
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container my-5">
    <h3>Ajouter un Film</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="/movie/create" method="post" enctype="multipart/form-data">
                    <!-- Name -->
                    <div class="form-group">
                        <label>Nom :</label>
                        <input type="text" name="name" class="form-control" placeholder="Nom du film" required />
                    </div>
                    <!-- Slug -->
                    <div class="form-group">
                        <label>Slug :</label>
                        <input type="text" name="slug" class="form-control" placeholder="Slug (identifiant unique)" />
                    </div>
                    <!-- Release Date -->
                    <div class="form-group">
                        <label>Date de sortie :</label>
                        <input type="date" name="releaseDate" class="form-control" />
                    </div>
                    <!-- Duration -->
                    <div class="form-group">
                        <label>Durée (en minutes) :</label>
                        <input type="number" name="duration" class="form-control" placeholder="Durée du film" />
                    </div>


                    <!-- Posters -->
                    <div class="form-group">
                        <label>Affiche (image) :</label>
                        <input type="file" name="posterFile" class="form-control" accept="image/*" />
                    </div>
                    <!-- Wallpaper -->
                    <div class="form-group">
                        <label>Fond d'écran (image) :</label>
                        <input type="file" name="wallpaperFile" class="form-control" accept="image/*" />
                    </div>
                    <!-- Genre -->
                    <div class="form-group">
                        <label>Genre :</label>
                        <input type="text" name="genre" class="form-control" placeholder="Genre du film" />
                    </div>
                    <!-- Synopsis -->
                    <div class="form-group">
                        <label>Résumé du film :</label>
                        <textarea name="plots" class="form-control" placeholder="Résumé du film"></textarea>
                    </div>
                    <!-- Actors -->
                    <div class="form-group">
                        <label>Liste des acteurs :</label>
                        <input type="text" name="actors" class="form-control" placeholder="Liste des acteurs" />
                    </div>
                    <!-- Bande-Annonce -->
                    <div class="form-group">
                        <label>Bande-annonce (URL) :</label>
                        <input type="url" name="bandeAnnonce" class="form-control" placeholder="Lien de la bande-annonce" />
                    </div>
                    <!-- Réalisateur -->
                    <div class="form-group">
                        <label>Réalisateur :</label>
                        <input type="text" name="realisateur" class="form-control" placeholder="Nom du réalisateur" />
                    </div>
                    <!-- Submit Button -->
                    <div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
